
- 
  const navbarItems = {
  home :"home",
  services :"services",
  about :"about",
  projects :"projects",
  faq :"faq",
  blog :"blog"
  }
  const boxItems = [
    {
    head :"marketing strategy",
    text : "New had happen unable uneasy. Drawings can followed improved out sociable not. Earnestly so do instantly pretended. See general few civilly amiable pleased account carried. Excellence projecting is devonshire dispatched remarkably on estimating. Side in so life past.",
    src : "./images/m1.webp"
    },
    {
    head :"Enterprise Consulting",
    text : "Continued at up zealously point breakfast. Surrounded sir motionless she end literature. Direction neglec but supported yet melancho his perfect themselves enoght.",
    src : "./images/m2.webp"
    },
    {
    head :"Growth Tracking",
    text : "Continued at up zealously necessary breakfast. Surrounded sir motionless she end literature. Gay direction neglected but supported yet melancho themselves.",
    src : "./images/m3.webp"
    },
  ]